*body {
    margin: 0;
    padding: 0;
    
}

 @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
} 
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

.fas {
    font-size: xx-large;
    /* margin: 0 15px 10px 15px; */
    margin: 0 10px 10px 10px;
}

i.large.material-icons {
    font-size: xx-large;
    margin-left: 2px;
}

.nav-text {
    background-color: darkblue;
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
}

.side-navbar {
    position: fixed;
    z-index: 1000;
    float: left;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
}

.main-menu:hover,nav.main-menu.expanded {
width:200px;
overflow:hidden;
z-index: 1000;

}



i {
    color: white;
    margin-right: 10px;
    border-right: 1px solid ghostwhite;
    line-height: 1rem;
    margin-bottom: 10px;
}

.fas.fa-hand-holding-usd.fa-2x {
    margin-right: 0;
    padding: 9px;
}

.fas.fa-chalkboard-teacher {
    margin-right: 10px;
    padding: 5px;
}

#special {
   left: 10px;
}

.main-menu {
position: absolute;
top:0;
bottom:0;
height:100%;
left: 0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
z-index: 1000;
background-color: #100b36;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:200px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;

-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:hidden;
overflow:hidden;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;

}

ul {
  justify-content: space-around;
}

.dashboard {
    position: relative;
    overflow: hidden;
    overscroll-behavior-y: none;
    float: right;
    width: 95%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

.active {
    background-color: red !important;
}

/* @font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
} */

/*---------------------------------------------------------------------for dashboard--------------------------------------------------------------*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#f5f5f5;}
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sidenav {
    float: left;
    
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  i {
    color: white;
  }
  
  li {
    list-style: none;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
